.calc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-calc {
  display: flex;
  flex-wrap: wrap;
}

.btn-calc button {
  margin: 2% 0;
  flex-grow: 1;
}

.result-calc {
  margin: 2% 0;
  flex-grow: 1;
}
